<div class="main">
	<div id="notice">
		<div class="contents">
			<h2 class="subtitle">config</h2>
			<div class="hogehoge">
				<p><%= h @adress %> 宛の通知一覧</p>
			</div>

			<br>

			<div id="config-wrapper" class="col s12">
				<% if @word.length == 0 then %>
					<p>
					通知がありません。
					<br>noticeより通知を追加してください。
					</p>
				<% else %>
					<form action="post" action="config">
						<table class="">
							<thead>
								<tr>
									<th data-field="word">keyword</th>
									<th data-field="url">URL</th>
									<th data-field="notice">通知</th>
									<th>削除</th>
								</tr>
							</thead>
							<tbody>
							<% @word.length.times do |i|%>
								<tr>
									<td><%= h @word[i].force_encoding("UTF-8") %></td>
									<td><a href="<%= h @url[i].force_encoding("UTF-8") %>" class="url"><%= h @s_url[i].force_encoding("UTF-8") %></a></td>
									<td>
										<div class="switch">
											<label>
												Off
												<input type="checkbox" <%= @checkbox[i] %> id="notice_box<%= i %>" data-notice_id="<%= @id[i] %>">
												<span class="lever"></span>
												On
											</label>
										</div>
									</td>
									<td><input type="checkbox" id="delete_box<%= i %>" data-delete_id="<%= @id[i] %>"><label for="delete_box<%= i %>"></label></td>
								</tr>
							<% end %>
							</tbody>
						</table>

					<button id="update_button" type="submit" class="waves-effect waves-light btn" data-length="<%= @word.length %>" data-email="<%= @adress %>">update</button>
				</form>
			<% end %>
			</div>
		</div>
	</div>
</div>

