<div class="main">
	<div id="notice">
		<div class="contents">
			<h2 class="subtitle">config</h2>
			<div class="hogehoge">
				<p><%= h @adress %> 宛の通知一覧</p>
			</div>

			<br>

			<div id="config-wrapper">
				<form action="POST">
					<table>
						<thead>
							<tr>
								<th>keyword</th>
								<th>URL</th>
								<th>通知</th>
								<th>削除</th>
							</tr>
						</thead>
						<tbody>
							<% @word.length.times do |i|%>
								<tr>
									<td><%= h @word[i].force_encoding("UTF-8") %></td>
									<td><%= h @url[i].force_encoding("UTF-8") %></td>
									<td>

										<div class="switch">
											<label>
												Off
												<input type="checkbox" <%= @checkbox[i] %>>
												<span class="lever"></span>
												On
											</label>
										</div>
									</td>
									<td><input type="checkbox" id="box<%= i %>"><label for="box<%= i %>"></label></td>
								</tr>
							<% end %>

						</tbody>
					</table>
					<a class="waves-effect waves-light btn">update</a>
				</form>
			</div>
		</div>
	</div>
</div>

